<div id="index_background_container">
    <div class="index_body_container">
      <div class="top_text_container">
        <div class="index_text_container"
          <h1 id="title">COCKTAIL INVENTORY</h1>
        </div>
      </div>
      <div id="create_index_btn"><%= link_to 'Create a new cocktail', new_cocktail_path, class: "btn btn-secondary"%></div>
      <div class='index_cards_container'>
        <% @cocktails.each do |cocktail| %>
        <div class="cards">
          <div class="property-image">
            <div class="property-image-title">
                  <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div>
          <div class="property-description">
            <h5> <%= link_to cocktail.name, cocktail_path(cocktail)%> </h5>
            <ul>
              <% cocktail.ingredients.each do |ingredient| %>
              <li><%=ingredient.name%></li>
              <% end %>
            </ul>
          </div>
          <div class="property-social-icons">
             <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>


