<div class="container" id="cocktail_show_banner">
  <br>
  <br>
  <h3 class="text-center"><%=@cocktail.name.upcase%></h3>
  <p><i class="fas fa-cocktail"></i></p>

  <% @cocktail.doses.each do |dose|  %>
  <ul>
    <li><%=dose.ingredient.name%></li>
  </ul>
  <p><%= "#{dose.description}" %></p>
  <% end %>


