#index_background_container {
  background: image-path('/images/background_splash.jpg');
  background-size: cover;
}

.index_body_container {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 40px;
}

.index_cards_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
