#index_background_container {
  margin : 0px;
  min-height: 900px;
  background-image: asset-url('cocktails_new.jpeg');
  background-size: cover;
}

.index_body_container {
  background-color: transparent;
  margin-left: 90px;
  margin-right: 90px;
}

.index_cards_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
