#index_background_container {
  margin : 0px;
  min-height: 700px;
  background-image: asset-url('cocktails_new.jpeg');
  background-size: cover;
}

.index_body_container {
  background-color: transparent;
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;
}

.top_text_container{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.index_text_container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: gray;
  width: 750px;
  height: 120px;
  opacity: 0.7;
  text-align: center;
}

.index_cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


